benchmark/result/*.xlsx filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/* filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/added_tokens.json filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/config.json filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/special_tokens_map.json filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/tokenizer_config.json filter=lfs diff=lfs merge=lfs -text
turbo_transformers/python/tests/test-model/vocab.txt filter=lfs diff=lfs merge=lfs -text
